<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NameFileLocation" value="names.txt"></add>
    <add key="AlphaScoreConfig" value="ScoreConfig.xml"></add>
    <add key="PuzzleApiUrl" value="http://ab-coding-puzzle-api.azurewebsites.net"></add>
  </appSettings>
</configuration>